{% extends 'base.html' %}
{% block title%} Blog de Noticias{% endblock %}
{% block content%}
<div class="columns">
    <div class="column is-offset-3 is-6">
        <a href="{{ url_for('categories.add_category') }}" class="button is-success"><i class="fa-solid fa-plus"></i> &nbsp;
            Agregar categoria</a>
            <a href="{{ url_for('index') }}" class="button is-danger"><i class="fa-solid fa-arrow-left"></i> &nbsp;
                Regresar</a>
                <br><br>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Gestión de Categorias</p>
            </header>
            <div class="card-content">
                <table class="table is-fullwidth is-hoverable is-striped">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>
                                <div class="field is-grouped">

                                    <a href="{{ url_for('categories.update_category', id=category.id) }}"
                                        class="button is-small is-link is-outlined"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{{ url_for('categories.delete_category', id=category.id) }}"
                                        class="button is-small is-danger is-outlined"><i
                                            class="fa-solid fa-trash"></i></a>


                                </div>

                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>



{% endblock%}