{% extends 'base.html' %}
{% block title%} Blog de Noticias{% endblock %}
{% block content%}

<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <br>
            <div class="box">
                <h1 class="title is-6">Panel principal</h1>
                <!--Arear para el acceso a los diferentes modulos -->
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <p class="title is-6"><i class="fa-solid fa-address-card"></i> &nbsp Administrar Noticias</p>
                            <p class="subtitle is-6">Crear, modificar, eliminar</p>
                            <a class="button is-info" href="{{ url_for('posts.listar_posts') }}" >Acceder&nbsp<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <p class="title is-6"><i class="fa-solid fa-address-card"></i> &nbsp Administrar Categorias</p>
                            <p class="subtitle is-6">Crear, modificar, eliminar</p>
                            <a class="button is-info">Acceder&nbsp<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
               


            </div>





        </div>
    </div>

</div>


{% endblock%}